<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
  </head>
  <body>
    <h1>
      Welcome to home    <% if (locals.user) { %> <h2><%=locals.user.name%></h2> <% } %>
    </h1>
    <a href="/logout">logout</a>
  </body>
</html>